---
import type { CollectionEntry } from "astro:content";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
console.log(data);
---

<a class="card" href={`${data.website}`}>
  <span class="title">{data.title}</span>
  <img
    src={data.img}
    alt={data.img_alt || ""}
    loading="lazy"
    decoding="async"
  />
  <span class="description">{data.description}</span>
</a>

<style>
  .card {
    display: grid;
    grid-template: auto 1fr / auto 1fr;
    height: 11rem;
    background: var(--gradient-subtle);
    border: 1px solid var(--gray-800);
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: var(--shadow-sm);
    text-decoration: none;
    font-family: var(--font-brand);
    font-size: var(--text-lg);
    font-weight: 500;
    transition: box-shadow var(--theme-transition);
  }

  .card:hover {
    box-shadow: var(--shadow-md);
    .description {
      display: block; /* Show the description when card is hovered */
    }
  }

  .title {
    grid-area: 1 / 1 / 2 / 2;
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--gray-999);
    color: var(--gray-200);
    border-radius: 0.375rem;
  }
  .description {
    grid-area: 7 / 1 / 8 / 8;
    z-index: 1;
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    background: var(--gray-999);
    color: var(--gray-200);
    border-radius: 0.375rem;
  }

  img {
    grid-area: 1 / 1 / 3 / 3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media (min-width: 50em) {
    .card {
      height: 22rem;
      border-radius: 1.5rem;
    }

    .title {
      border-radius: 0.9375rem;
    }
    .description {
      display: none;
    }
  }
  @media (max-width: 50em) {
    .description {
      /* display: none; */
      font-size: x-small;
    }
    .title {
      font-size: small;
    }
    .card {
      height: 16rem; /* Increased card height for mobile view */
      grid-template: auto 1fr auto / auto 1fr; /* Adjusted template rows */
    }
  }
</style>
